[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
  --config.file=/opt/monitoring/prometheus/config/prometheus.yml \
  --storage.tsdb.path=/opt/monitoring/prometheus/data \
  --web.listen-address=127.0.0.1:19090
Restart=on-failure

[Install]
WantedBy=multi-user.target
